@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Luckiest+Guy&display=swap');

*{
    margin: 0;
    padding: 0;
    font-weight: 400;
}

:root {
    --vermelho-carmesin: #780000;
    --vermelho-forte: #c1121f;
    --branco: #ffffff;
    --azul-forte: #003049;
    --azul-claro: #669bbc;
    --verde: #a1c719;
    --azul-bebê: rgb(0, 161, 236);

    --fonte-titulo: "Luckiest Guy", cursive;
    --fonte-texto:  "Carter One", system-ui;

}

body{
    background-color: var(--azul-claro);
    color: var(--Branco);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: var(--fonte-texto);
}

.caixa-principal{
    background-color: var(--branco) ;
    width: 90%;
    text-align: center;
    padding: 20px;
}

.titulo{
    font-family: var(--fonte-titulo);
}

button{
    background-color: rgb(0, 161, 236);
    color: black;
    border: solid 2px var(--vermelho-carmesin) ;
    border-radius: 15px;
    padding: 15px;
    margin: 10px auto;
    transition: 0.3s;
}

button:hover{
    background-color: var(--verde);
}